<% if(folderErrArr) {%>
    <h1>Error:</h1>
    <ul>
        <% folderErrArr.forEach((error) => { %>
            <li><%= error.msg %></li>
       <% }) %>
    </ul>
<% } %>

<% if(nameExists) { %>
    <h1>Error:</h1>
    <ul>
        <li>Folder name exists in current directory.</li>
    </ul>
<% } %>