<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create folder here</title>
  </head>
  <body>
    <h1>Set a folder name: </h1>
    <%- include("./partials/createFolderHereError") %>
    <form action="/create/<%= currentRoute %>" method="post">
      <label for="folderName">Name of folder: </label>
      <input type="text" name="folderName" id="folderName" />
      <button type="submit">Submit</button>
    </form>
    <a href="/folder/<%= currentRoute%>">Cancel folder creation</a>
  </body>
</html>
