<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= currentRoute %></title>
</head>
<body>
    <% if(files.length === 0) { %>
        <h1>No files found</h1>
   <% } else { %>
        <h1>Temp files goes here</h1>
    <% } %>
    <% if(subFolders) { %>
        <% subFolders.forEach((folder) => { %>
            <a href="/folder/<%= folder.folderRoute %>"><%= folder.folderName %></a>
        <% }) %>
    <% } %>
    <div class="link-group">
        <a href="/create/<%= currentRoute %>">Create a folder here</a>
        <a href="/">Back to home</a>
    </div>
</body>
</html>