<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <h1>File Uploader Steps:</h1>
    <ol>
      <li>Sign up and make an account for database</li>
      <li>Log into account successfully</li>
      <li>Save file with multer middleware (will learn as I go)</li>
    </ol>

    <% if(!user) { %>
        <% if(loginError) { %>
            <%- include("./partials/loginError")%>
        <% } %>
    <form action="/" method="post">
      <h1>Log in</h1>
      <label for="username">Username: </label>
      <input type="text" id="username" name="username"/>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" autocomplete="off"/>
      <button type="submit">Submit</button>
    </form>
    <a href="/signup" class="signup-link">Sign up here!</a>
    <% } else{ %>
        <h1>Welcome, <%= user.username %></h1>
        <h3>You are now logged in. Able to upload files.</h3>
        <%- include("./partials/folderDisplay") %>
        <a href="/upload" class="upload-link">Upload a file here</a>      
        <a href="/logout" class="logout-link">Log out</a>
    <% } %>
    
  </body>
</html>
