<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="/upload.css">
</head>
<body>
    <h1>Upload a file here!</h1>
    <h3>Only authenticated users</h3>
    <form action="/upload/<%= currentRoute %>" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="uploadFile">Upload File Here: </label>
            <input type="file" name="uploadFile" id="uploadFile">
            <button type="submit">Submit</button>
        </div>
    </form>
    <a href="/folder/<%= currentRoute %>" class="home-link">Cancel Upload</a>
</body>
</html>